*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.6em;
    
}

a{
    color: #333;
    text-decoration: none;
}

h1, h2, h3{
    padding-bottom: 20px;
}

p{
    margin: 10px 0;
}

.text-primary{
    color: aqua;
}

.container{
    margin: auto;
    max-width: 1500px;
    overflow: auto;
    padding: 0 20px;
}

.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px ;
    color:#000;
    background-color: aqua;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.9;
}

#navbar{
    width: 100%;
    overflow: hidden;
    top: 0;
    position: fixed;
    background: #333;
    color:#fff;
    overflow: auto;
}

#navbar a{
    color: white;
}

#navbar h1{
    float: left;
    padding-top: 20px;
}

#navbar ul{ 
    list-style: none;
    float:right;
}
#navbar ul li{
    float: left;
}

#navbar ul li a{
    display: block;
    padding:20px;
    text-align:center;
   
}

#navbar ul li a:hover,
#navbar ul li a.present{
    border-bottom: aqua 2px solid;
    /* background: #444; */
    color: aqua;
}

/* Section styles */

.banner{
    margin-top: 50px;
    color: #fff;
    display: flex;
    background: url("../images/rahabi-khan-eNafqf_0ZWQ-unsplash.jpg") no-repeat center/cover;    
    height: 100vh;
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
}

 .content{
   text-align: center;
   margin-top: 50px;
   
}

.content .item-1{
    font-size: 26px;
   
}
.content .item-2{
    padding: 20px;
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.content .item-3{
    padding: 20px;
   margin: 5px 0;
}

/* section 2 and aside styling */
#experiences {
    width: 70%;
    padding: 20px;
}
#experiences h3{
    text-align: center;

}
#experiences p{
    text-align: justify;
}

#experiences a{
    display: flex;
    justify-content: center;
    align-items: center;
}


.list-items{
    list-style-type: none;
}

aside .btn {
    margin-top: 20px;
}


 th, td {
     padding: 5px;
    border:1px solid black;
}
.row{
    display: flex;
    padding: 20px;
    margin: 20px;

}
.skills{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    text-align: center;
    
}
.headings {
    font-size: 30px;
    font-weight: bold;
}

.skills table{
    display: flex;
    justify-content: center;
}
.experience{
    width:30%;
    padding: 10px;
    text-align: center;
}
.experience .btn{
    padding: 10px;
    border-radius: 10px;
}


/* Footer Styles*/

footer{
    margin: 20px 0;
    text-align: center;

}

footer .social{
    margin-bottom: 15px;
}

footer a{
    padding: 10px;

}